<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <p>Hi I am <%- contact.name%> </p>
 <p>Hi I am <%- contact.email%> </p>
 <p>Hi I am <%- contact.phone%> </p>
 <p>Hi I am <%- contact.fax%> </p>
 <p>Hi I am <%- contact.site%> </p>
</body>
</html>